<app-header componentName="jobs"></app-header>
<div fxLayout="column" fxLayoutGap="16px" class="main">
  <mat-card *ngFor="let job of jobs">
    <mat-card-header>
      <mat-card-title>{{job?.consumer?.user?.firstName}} {{job?.consumer?.user?.lastName}}</mat-card-title>
      <mat-card-subtitle>{{'health.' + job?.consumer?.user?.healthStatus | translate}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{'job_list.shoppingBags' | translate}}
        : {{('job_list.shoppingBagsAmount.' + job?.shoppingList?.shoppingBagsAmount.toString()) | translate}}</p>
      <p>{{'job_list.hasCooledProduct' | translate}}
        : {{(job?.shoppingList?.hasCooledProduct ? 'general.yes' : 'general.no') | translate}}</p>
    </mat-card-content>

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutGap.lt-sm="8px" fxLayoutAlign="flex-end center">
      <button mat-raised-button color="warn" (click)="onDetailClick(job)">{{'job_list.detail' | translate}}</button>
      <button mat-raised-button color="warn" (click)="onAcceptClick(job)">{{'job_list.accept' | translate}}</button>
    </div>
  </mat-card>
</div>
