@import '../../../styles/colors';
@import '../../../styles/variables';
.header-bar {
  width: 100%;
  background-color: $background-color-dark;
  padding: 24px;
  height: 84px;
  color: $font-color-light;
  font-size: $font-size-l;
  .mat-icon {
    font-size: 24px;
  }
  .mat-icon:hover {
     cursor: pointer;
   }
}
