<mat-card class="main">
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
    <mat-card-title>{{job?.createdAt | date: 'dd.MM.yyyy, HH:mm'}} Uhr</mat-card-title>
    <mat-card-subtitle>{{'job_list.shoppingBags' | translate}}
      : {{('job_list.shoppingBagsAmount.' + shoppingList?.shoppingBagsAmount.toString()) | translate}}</mat-card-subtitle>
    <div fxLayout="column" class="order-card">
      <div class="icon-image">
        <img *ngIf="supplier" src="../../../../assets/icons/shopping/car_order.svg">
        <img *ngIf="consumer" src="../../../../assets/icons/shopping/shopping-cart-fill.svg">
      </div>
    </div>
  </mat-card-header>
</mat-card>
