<app-header></app-header>
<div class="main" fxLayout="column" fxLayoutGap.lt-sm="8px" fxLayoutGap="32px">
  <div (click)="onSupplyClick()" fxLayout="column" class="home-card">
    <div class="icon-image background-warn">
      <img src="../../../assets/icons/home/home_supply.svg" height="120" width="120">
    </div>
    <div class="card-title">{{'home.supply' | translate}}</div>
  </div>
  <div (click)="onOrderClick()" fxLayout="column" class="home-card">
    <div class="icon-image background-accent">
      <img src="../../../assets/icons/home/home_order.svg" height="120" width="120">
    </div>
    <div class="card-title">{{'home.order' | translate}}</div>
  </div>
  <div (click)="onViewOverview()" fxLayout="column" class="home-card">
    <div class="icon-image background-primary" fxLayoutAlign="end" fxLayoutGap="32px">
      <img src="../../../assets/icons/home/home_order.svg" height="120" width="120">
      <img src="../../../assets/icons/home/home_supply.svg" height="120" width="120">
    </div>
    <div class="card-title">{{'home.overview' | translate}}</div>
  </div>
</div>
