$color-dark: #1f1f1f;
$color-light: #f5f5f5;

$font-color: $color-dark;
$font-color-light: $color-light;

$background-color: $color-light;
$background-color-dark: $color-dark;

$primary: lightblue;
$secondary: darkslategrey;
$accent: darkorange;
$warn: darkred;

