.main {
  min-height: 60%;
  padding: 16px;
  margin: 24px auto 15%;
  overflow: auto;
}
// large displays
@media (min-width: 1280px) {
  .main{
  }
}
// medium displays
@media (min-width:  960px) {
  .main{
    width: 640px;
  }
}

// small displays
@media (max-width: 960px) {
  .main{
    padding: 8px;
  }
}

form {
  display: flex;
  flex-direction: column;
}
