@import "colors";
.main {
  min-height: 60%;
  padding: 16px;
  margin: 24px auto 15%;
  overflow: auto;
  max-height: 80%;
}
// large displays
@media (min-width: 1280px) {
  .main{
  }
}
// medium displays
@media (min-width:  960px) {
  .main{
    width: 640px;
  }
}

// small displays
@media (max-width: 960px) {
  .main{
  }
}

form {
  display: flex;
  flex-direction: column;
}

.background-primary {
  background-color: $primary;
}
.background-warn {
  background-color: $warn;
}
.background-accent {
  background-color: $accent;
}
