.main {
  padding: 16px;
  overflow: auto;
  height: 100%;
  margin: auto;
}
.content {
  padding: 8px;
  height: 100%;
  button, div {
    margin:  8px
  }
}

form {
  display: flex;
  flex-direction: column;
}
