$font-size-xl: 48px;
$font-size-l: 32px;
$font-size-m: 16px;
$font-size-s: 12px;
$font-size-xs: 8px;

.font-size-xl {
  font-size: $font-size-xl;
}

.font-size-l {
  font-size: $font-size-l;
}

.font-size-m {
  font-size: $font-size-m;
}

.font-size-s {
  font-size: $font-size-s;
}

.font-size-xs {
  font-size: $font-size-xs;
}

