<app-header componentName="jobs"></app-header>
<div fxLayout="column" fxLayoutGap="16px" class="main">
  <mat-card *ngFor="let job of jobs" (click)="onDetailsClick(job?.id)">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
      <mat-card-title>{{job?.createdAt | date: 'dd.MM.yyyy, HH:mm'}} Uhr</mat-card-title>
      <mat-card-subtitle>{{'job_list.shoppingBags' | translate}}
        : {{('job_list.shoppingBagsAmount.' + job?.shoppingList?.shoppingBagsAmount.toString()) | translate}}</mat-card-subtitle>
      <div fxLayout="column" class="order-card">
        <div class="icon-image">
          <img src="../../../../assets/icons/shopping/car_order.svg">
          <img src="../../../../assets/icons/shopping/shopping-cart-fill.svg">
        </div>
      </div>
    </mat-card-header>
  </mat-card>
</div>

