/* You can add global styles to this file, and also import other style files */
@import './styles/colors.scss';
@import './styles/headlines.scss';
@import './styles/layout.scss';
@import './styles/images.scss';
@import './styles/buttons.scss';
@import './styles/material.scss';
@import './styles/variables.scss';

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: $font-color;
  background-color: $background-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  * {
    max-width: 100%;
  }
}
.mat-body, .mat-body-1, .mat-typography {
  font: 400 16px/24px Roboto, "Helvetica Neue", sans-serif;
}
